body {
    background-color: #0c0c0a;
    min-height: 1000px;
}

.main {
    /* background:  */
     background-image: url("../images/vader-stormtrooper-bg.jpg");
     background-repeat:no-repeat;
     background-size: 100% 750px;
     min-height: 1000px;
}

.content-box {
    background-color:darkslategray;
    color: white;
    margin: 2%;
}

.content-title {
    background-color: lightslategray;
    color: white;
    padding: 2%;
}

.content-link {
    margin: 10%;

}